<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.zzsdeo.money">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:supportsRtl="false"
        tools:ignore="UnusedAttribute">

        <activity android:name=".activities.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.AddScheduledTransactionActivity"
            android:label="@string/add_scheduled_transaction"/>

        <activity android:name=".activities.EditScheduledTransactionActivity"
            android:label="@string/edit_scheduled_transaction"/>

        <activity android:name=".activities.GraphActivity"
            android:label="@string/graph"/>

        <provider
            android:name="ru.zzsdeo.money.db.DatabaseContentProvider"
            android:authorities="ru.zzsdeo.money.contentprovider"
            android:exported="false" >
        </provider>

        <service android:name=".services.UpdateTransactionsIntentService" />

        <service android:name=".services.SmsParserIntentService" />

        <service android:name=".services.NotificationIntentService" />

        <receiver
            android:name=".services.BootStartUpReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".services.SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".widgets.WidgetReceiver" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>

    </application>

</manifest>
