<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ru.zzsdeo.money">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.AddAccountActivity"
            android:label="Добавить счет"/>

        <activity android:name=".activities.ManageAccountsActivity"
            android:label="Управление счетами"/>

        <activity android:name=".activities.EditAccountActivity"
            android:label="Редактировать счет"/>

        <activity android:name=".activities.AddTransactionActivity"
            android:label="Добавить транзакцию"/>

        <activity android:name=".activities.EditTransactionActivity"
            android:label="Редактировать транзакцию"/>

        <activity android:name=".activities.ManageCategoriesActivity"
            android:label="Управление категориями"/>

        <activity android:name=".activities.AddCategoryActivity"
            android:label="Добавить категорию"/>

        <activity android:name=".activities.EditCategoryActivity"
            android:label="Редактировать категорию"/>

        <activity android:name=".activities.AddScheduledTransactionActivity"
            android:label="Добавить запланированную транзакцию"/>

        <activity android:name=".activities.EditScheduledTransactionActivity"
            android:label="Редактировать запланированную транзакцию"/>

        <activity android:name=".activities.AddToHistoryActivity"
            android:label="Подтвердить и добавить в историю"/>

        <provider
            android:name="ru.zzsdeo.money.db.DatabaseContentProvider"
            android:authorities="ru.zzsdeo.money.contentprovider"
            android:exported="false" >
        </provider>

        <service android:name=".services.UpdateTransactionsIntentService" />

        <service android:name=".services.SmsParserIntentService" />

        <receiver
            android:name=".services.BootStartUpReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".services.SmsReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
